<!DOCTYPE html>
<html>
	{{template "head.html" .PageMetaData}}
<body>
	{{template "head.html" .PageMetaData}}	
	<div class="row">
		<div class="columns small-12">
			<ul class="row products small-block-grid-4">
				{{range .Products}}
					<li class="product">
						<img src="/img/{{.ImageUrl}}" alt="{{.ImageUrl}}" />
						<a href="/product">
							<h3>{{.Name}}</h3>
						</a>
						<p>
							{{.DescriptionShort}} 
						</p>
						<p>
							${{.PricePerLiter | printf "%.2f"}} / liter
						</p>
					</li>
				{{end}}
			</ul>
		</div>
	</div>
	{{template "footer.html"}}	
</body>
</html>